{% extends "base.html" %}

{% block title %}{{ res.name }}{% endblock %}

{% block content %}
    <h5 class="card-header">{{ res.name }}</h5>
    <div class="card-body">
        <dl>
            <dt>Prefix</dt>
            <dd>{{ res.prefix }}</dd>
            <dt>Identifier</dt>
            <dd>{{ res.identifier }}</dd>
            <dt>Name</dt>
            <dd>{{ res.name }}</dd>
            <dt>Definition</dt>
            <dd>{{ res.definition }}</dd>
            <dt>Species</dt>
            <dd>{{ res.species }}</dd>
        </dl>
    </div>
{% endblock %}
