{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
        .stats div h2 {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="card bg-light">
        <div class="card-body">
            <h1 class="display-3">Biolookup Service</h1>
            <p class="lead">
                The Biolookup Service provides metadata and ontological information about biomedical
                entities based on their <a href="https://en.wikipedia.org/wiki/CURIE">compact identifiers</a>
                (CURIEs).
            </p>
            {% if name_count %}
                <div class="row text-center stats">
                    <div class="col">
                        <i class="fa fa-database"></i>
                        <h2 class="count-prefixes" data-from="0" data-to="{{ prefix_count }}" data-time="1000"></h2>
                        <p class="count-text ">Resources</p>
                    </div>
                    <div class="col">
                        <i class="fa fa-signature"></i>
                        <h2><span class="count-names" data-to="{{ name_count }}"
                                  data-time="1000"></span>{{ name_suffix }}</h2>
                        <p class="count-text ">Names</p>
                    </div>
                    <div class="col">
                        <i class="fa fa-sync-alt"></i>
                        <h2><span class="count-alts" data-to="{{ alts_count }}"
                                  data-time="1000"></span>{{ alts_suffix }}</h2>
                        <p class="count-text ">Alt. IDs</p>
                    </div>
                    <div class="col">
                        <i class="fa fa-book"></i>
                        <h2><span class="count-defs" data-to="{{ definition_count }}"
                                  data-time="1000"></span>{{ definition_suffix }}</h2>
                        <p>Definitions</p>
                    </div>
                    <div class="col">
                        <i class="fas fa-chess"></i>
                        <h2><span class="count-synonyms" data-to="{{ synonyms_count }}"
                                  data-time="1000"></span>{{ synonyms_suffix }}</h2>
                        <p>Synonyms</p>
                    </div>
                    <div class="col">
                        <i class="fas fa-people-arrows"></i>
                        <h2><span class="count-xrefs" data-to="{{ xrefs_count }}"
                                  data-time="1000"></span>{{ xrefs_suffix }}</h2>
                        <p>Xrefs</p>
                    </div>
                    <div class="col">
                        <i class="fas fa-project-diagram"></i>
                        <h2><span class="count-rels" data-to="{{ rels_count }}"
                                  data-time="1000"></span>{{ rels_suffix }}</h2>
                        <p>Relations</p>
                    </div>
                    <div class="col">
                        <i class="fa fa-paw"></i>
                        <h2><span class="count-species" data-to="{{ species_count }}"
                                  data-time="1000"></span>{{ species_suffix }}</h2>
                        <p>Species</p>
                    </div>
                </div>
            {% endif %}
            <h5 class="card-title">Examples</h5>
            <p>
                It has a single endpoint <code>/api/lookup/&lt;curie&gt;</code> that gives back JSON.
                Here are a few examples:
            </p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">CURIE</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tr>
                <td><a href="{{ url_for('.entity', curie='DOID:14330' ) }}">DOID:14330</a></td>
                <td>🟢 exact</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('.entity', curie='doid:14330' ) }}">doid:14330</a></td>
                <td>🟢 capitalization variant</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('.entity', curie='DO:14330' ) }}">DO:14330</a></td>
                <td>🟢 synonym identified in metaregistry</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('.entity', curie='GO:0000501' ) }}">GO:0000501</a></td>
                <td>🟢 secondary identifier mapped</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('.entity', curie='GO:GO:0000501' ) }}">GO:GO:0000501</a></td>
                <td>🟢 banana problem mapped</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('.entity', curie='APO:0000155' ) }}">apo:0000155</a></td>
                <td>🟡 able to look up name, but prefix is not listed on Identifiers.org</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('.entity', curie='wikidata:Q11085' ) }}">wikidata:Q11085</a></td>
                <td>🟡 able to generate Identifiers.org link, but name unavailable</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('.entity', curie='DOID:00000' ) }}">DOID:00000</a></td>
                <td>🔴 valid prefix, but invalid identifier</td>
            </tr>
            <tr>
                <td><a href="{{ url_for('.entity', curie='NNN:00000' ) }}">NNN:00000</a></td>
                <td>🔴 invalid prefix</td>
            </tr>
        </table>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        (function ($) {
            $.fn.counter = function () {
                const $this = $(this),
                    numberFrom = 0,
                    numberTo = parseInt($this.attr('data-to')),
                    delta = numberTo - numberFrom,
                    deltaPositive = delta > 0,
                    time = parseInt($this.attr('data-time')),
                    changeTime = 10;

                let currentNumber = 0,
                    value = delta * changeTime / time;
                var interval1;
                const changeNumber = () => {
                    currentNumber += value;
                    //checks if currentNumber reached numberTo
                    (deltaPositive && currentNumber >= numberTo) || (!deltaPositive && currentNumber <= numberTo) ? currentNumber = numberTo : currentNumber;
                    this.text(parseInt(currentNumber));
                    currentNumber === numberTo ? clearInterval(interval1) : currentNumber;
                }

                interval1 = setInterval(changeNumber, changeTime);
            }
        }(jQuery));

        $(document).ready(function () {
            $('.count-prefixes').counter();
            $('.count-names').counter();
            $('.count-alts').counter();
            $('.count-defs').counter();
            $('.count-species').counter();
            $('.count-synonyms').counter();
            $('.count-xrefs').counter();
            $('.count-rels').counter();
        });
    </script>
{% endblock %}
